# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Ambientes Virtuais
.env
.venv
venv/

# AWS e Credenciais (NUNCA REMOVA ISSO)
.aws/
credentials
config
*.pem
config_private.py

# Dados
data/
models/
*.tar.gz
*.pth

# IDE
.vscode/


